.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 683px;
}

.u-section-1 .u-group-1 {
  width: 848px;
  min-height: 303px;
  margin: 179px auto 0;
}

.u-section-1 .u-image-1 {
  height: 121px;
  animation-duration: 1000ms;
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 0 0px 40px rgba(0,0,0,1);
  animation-duration: 1000ms;
  box-shadow: -2px 0px 0 0 rgba(0,0,0,0);
  letter-spacing: normal;
  text-transform: none;
  margin: -160px auto 0 212px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4;
  animation-duration: 1000ms;
  margin: 81px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 57px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    height: 103px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -142px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    height: 77px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -116px;
    margin-left: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 48px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -87px;
    margin-left: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1394px;
}

.u-section-2 .u-shape-1 {
  width: 848px;
  height: 32px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 48px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: -59px auto 0;
}

.u-section-2 .u-group-1 {
  width: 848px;
  min-height: 270px;
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 269px;
  height: 269px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.4;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -269px 206px 0 279px;
}

.u-section-2 .u-text-3 {
  margin: 14px 0 0 279px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 29px auto 0;
}

.u-section-2 .u-group-2 {
  width: 848px;
  min-height: 314px;
  animation-duration: 1000ms;
  margin: 43px 135px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-2 .u-image-2 {
  width: 259px;
  height: 259px;
  margin: 16px 0 0 auto;
}

.u-section-2 .u-text-4 {
  line-height: 1.4;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -274px 279px 0 206px;
}

.u-section-2 .u-text-5 {
  margin: 16px 279px 0 0;
}

.u-section-2 .u-line-2 {
  width: 912px;
  height: 3px;
  margin: 29px auto 0;
}

.u-section-2 .u-group-3 {
  width: 848px;
  min-height: 323px;
  animation-duration: 1000ms;
  margin: 43px auto 60px;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-2 .u-image-3 {
  width: 269px;
  height: 269px;
  margin: 29px auto 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.4;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -298px 196px 0 289px;
}

.u-section-2 .u-text-7 {
  margin: 16px 0 -15px 289px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-2 {
    margin-right: 92px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: 720px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 142px;
    margin-left: 215px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 215px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-group-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 215px;
    margin-left: 142px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 215px;
  }

  .u-section-2 .u-line-2 {
    width: 720px;
  }

  .u-section-2 .u-group-3 {
    width: 720px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 132px;
    margin-left: 225px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 52px;
    margin-left: 125px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 125px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 125px;
    margin-left: 52px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 125px;
  }

  .u-section-2 .u-line-2 {
    width: 540px;
  }

  .u-section-2 .u-group-3 {
    width: 540px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 42px;
    margin-left: 135px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -58px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    margin-top: 334px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-top: -262px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-line-2 {
    width: 340px;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }
}